*.o
*~
*.aux
*.dvi
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
_region_.tex
auto/
.DS_Store
Skript/_region_.prv
Skript/statistik.synctex.gz
Skript/lineare-algebra.prv
Skript/texput.log
Skript/_region_.*
Skript/_region_.prv/
